<div class="aboutClub">
	<div class="contentAboutClubHeader row mar13_0px">
		<h2 class="AboutClubName float-l   h27_lh27 pad0_7px">О клубе</h2>
	</div>
	<img src="clientApp/images/aboutClub/chto-gde-kogda-interesnye-voprosy.jpg" alt="" class="clubFoto">
	<h3 class="clubTitle">Черкасский клуб интелектуальных игор</h3>
	<p class="clubDescriptions">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum molestias quisquam cupiditate tempora modi doloribus reiciendis voluptates, autem cumque delectus? Doloribus ea consequatur nam deserunt debitis sunt nobis aut necessitatibus pariatur ab, ut architecto ipsa voluptates eum, eos perspiciatis dolore at. Aut qui iusto cumque ullam, adipisci itaque architecto hic!</p>
</div>