<html>
<head>
	<style>
		table td {
			border:solid 1px;		
		}
		table {border-collapse: collapse;}
	</style>
</head>
<body>
<table>
	<tr>
		<td>title</td>	
		<td>text</td>
		<td>login</td>
		<td>event_date</td>
		<td>tags</td>
		<td>likes</td>
		<td>dislikes</td>
		<td>current user opinion</td>
		<td>like</td>
		<td>dislike</td>
		<td>link to event</td>
	</tr>
	<tr ng-repeat=" event in events">
		<td>{{ event.title }}</td>	
		<td>{{ event.text }}</td>
		<td>{{ event.author.username }}</td>
		<td>{{ event.event_date | timestampToFormat:'dd M yyyy' }}</td>
		<td>{{ event.tags.join(', ') }}</td>
		<td>{{ event.likesCount }}</td>
		<td>{{ event.dislikesCount }}</td>
		<td>{{ event.currentUserOpinion.is_positive }}</td>
		<td><button ng-show="isLoggedIn" ng-click="makeOpinion(event, true)" >like</button></td>
		<td><button ng-show="isLoggedIn" ng-click="makeOpinion(event, false)" >dislike</button></td>
		<td><a href="#/news/{{ event.id }}">click</a></td>
	</tr>
</table>
</body>
</html>