<div class="contentNews">
	<div class="contentNewsHeader row mar13_0px">
		<h2 class="newsName float-l w230px h27_lh27 pad0_7px">Новости клуба</h2>
		<a href="#" class="archiveNews">Архив</a>
	</div>
	<ul class="newsList row">
		<li ng-repeat="event in events">
			<img style="" ng-src="{{ event.image }}"/>
			<div class="description">
				<h3><a href="#/news/{{ event.id }}">{{event.title}}</a></h3>
				<p>{{event.text}}</p>
			</div>
			<div class="dateNews">
				{{ event.event_date | timestampToFormat:'dd.MM.yyyy' }}
			</div>
		</li>
	</ul>
	<div class="row">
		<button class="loadNews ng-scope" ng-disabled="!canLoadMoreEvents" ng-click="fetchNewEvents()">Загрузить еще</button>
	</div>
</div>