<html>
<body>
<table>
	<tr>
		<td>title</td>	
		<td>text</td>
		<td>login</td>
		<td>event_date</td>
		<td>tags</td>
		<td>likes</td>
		<td>dislikes</td>
		<td>current user opinion</td>
		<td>like</td>
		<td>dislike</td>
	</tr>
	<tr>
		<td>{{ event.title }}</td>	
		<td>{{ event.text }}</td>
		<td>{{ event.author.username }}</td>
		<td>{{ event.event_date | timestampToFormat:'dd M yyyy' }}</td>
		<td>{{ event.tags.join(', ') }}</td>
		<td>{{ event.likesCount }}</td>
		<td>{{ event.dislikesCount }}</td>
		<td>{{ event.currentUserOpinion.is_positive }}</td>
		<td><button ng-click="likeEvent(event, true)" >like</button></td>
		<td><button ng-click="likeEvent(event, false)" >dislike</button></td>
	</tr>
</table>
</body>
</html>