<html>
<body>
<table>
	<tr>
		<td>title</td>	
		<td>text</td>
		<td>login</td>
		<td>event_date</td>
		<td>tags</td>
		<td>likes</td>
		<td>dislikes</td>
		<td>current user opinion</td>
		<td>like</td>
		<td>dislike</td>
		<td>comments</td>
	</tr>
	<tr>
		<td>{{ event.title }}</td>	
		<td>{{ event.text }}</td>
		<td>{{ event.author.username }}</td>
		<td>{{ event.event_date | timestampToFormat:'dd M yyyy' }}</td>
		<td>{{ event.tags.join(', ') }}</td>
		<td>{{ event.likesCount }}</td>
		<td>{{ event.dislikesCount }}</td>
		<td>{{ event.currentUserOpinion.is_positive }}</td>
		<td><button ng-click="makeOpinion(event.id, true)" >like</button></td>
		<td><button ng-click="makeOpinion(event.id, false)" >dislike</button></td>
		<td>
			<table>
				<tr>
					<td>author</td>
					<td>text</td>				
				</tr>	
				<tr ng-repeat="comment in event.comments">
					<td>{{ comment.author.username }}</td>
					<td ng-hide="comment.made_by_current_user">{{ comment.text }}</td>
					<td ng-show="comment.made_by_current_user">
						<input ng-model="comment.text"/>
						<button ng-click="putComment(comment)">ok</button>
						<button ng-click="deleteComment(comment.id)">del</button>
					</td>				
				</tr>
				<tr>
					<td colspan="2">
						<input ng-model="text"/>
						<button ng-click="postComment(event.id, text)">ok</button>					
					</td>				
				</tr>	
			</table>		
		</td>
	</tr>
</table>
</body>
</html>