<div class="contentNews">
	<div class="contentNewsHeader col-md-12 no-padding mar13_0px">
		<h2 class="newsName fz20px float-l  h28_lh28 pad0_10px">
			{{ event.event_date | timestampToFormat:'dd,MM,yyyy' }}
			{{ event.author.username }}
		</h2>
		<span class="likesButtonEvent float-r h28_lh28 fz16px pad0_10px">
				<a href="" class="stepLike" ng-click="makeOpinion(event, true)">
					<svg class="icon icon-thumbs-up"><use xlink:href="#icon-thumbs-up"></use></svg>
				</a>
				{{ event.likesCount }}
				 / 
				{{ event.dislikesCount }}
				<a href="" class="stepLike " ng-click="makeOpinion(event, false)">
				 <!-- ng-disabled="userInfo.isLoggedIn" -->
					<svg class="icon icon-thumbs-down"><use xlink:href="#icon-thumbs-down"></use></svg>
				</a>
			</span>
	</div>
	<div class="eventPost col-md-12 no-padding">
		<img class="eventImage display" ng-src="{{ event.image }}"/>
		<h3 class="eventTitle">{{ event.title }}</h3>
		<p>{{event.text}}</p>
		<div class="contentNewsHeader col-md-12 no-padding mar13_0px">
			<h2 class="newsName fz20px float-l h28_lh28 pad0_10px">
				Комментарии
			</h2>
		</div>
		<ul>
			<li class="commentList col-md-12" ng-repeat="comment in event.comments">
				<span class="display h28_lh28 fz16px">
					{{ comment.author.username }}
					{{ comment.author.image }}
					<button class="dellComments float-r" ng-show="userInfo.isLoggedIn" title="Удалить комментарий" ng-click="deleteComment(event, comment.id)">х</button>
				</span>
				<div class="commentText">
					<span class="display" ng-hide="comment.made_by_current_user">{{ comment.text }}</span>
					<input ng-show="comment.made_by_current_user" ng-model="comment.text" />
					<button ng-show="comment.made_by_current_user" ng-click="putComment(comment)">ok</button>
				</div>
				<span class="likes_dislikes">
					<button class="likes" ng-click="makeCommentOpinion(event, comment, true)">like</button>
					<!-- <button class="likes" ng-hide="userInfo.isLoggedIn" ng-click="makeCommentOpinion(event, comment, true)" disabled="true">like</button> -->
						{{ comment.likesCount }}
						 / 
						{{ comment.dislikesCount }}
					<button class="dislikes" ng-click="makeCommentOpinion(event, comment, false)">dislike</button>
				</span>
			</li>
			<li class="" ng-show="userInfo.isLoggedIn">
				<textarea class="textArea col-md-12 h130px" ng-model="text" placeholder="Сообщение..."></textarea>
				<button class="addComment inline-block float-r m20_0px" ng-click="postComment(event, text)">Отправить</button>
			</li>
		</ul>
	</div>
</div>
