<div class="contentNews">
	<div class="contentNewsHeader col-md-12 no-padding mar13_0px">
		<h2 class="newsName fz20px float-l h28_lh28 pad0_10px">Новости клуба</h2>
		<a href="#" class="archiveNews">Архив</a>
	</div>
	<ul class="newsPage col-md-12 no-padding">
		<li class="col-md-4 no-padding" ng-repeat="event in events | orderBy:predicate:!playDateReverse">
			<img style="" ng-src="{{ event.image }}"/>
			<div class="description">
				<h3><a href="#/news/{{ event.id }}">{{event.title}}</a></h3>
				<p>{{event.text}}</p>
			</div>
			<div class="dateNews">
				<span>{{ event.event_date | timestampToFormat:'dd.MM.yyyy' }}</span>
				<span class="likesButton stepLike2">
					<a href="" class="stepLike" ng-click="makeOpinion(event, true)">
						<svg class="icon icon-thumbs-up"><use xlink:href="#icon-thumbs-up"></use></svg>
					</a>
					{{ event.likesCount }}
					 / 
					{{ event.dislikesCount }}
					<a href="" class="stepLike " ng-click="makeOpinion(event, false)">
						<svg class="icon icon-thumbs-down"><use xlink:href="#icon-thumbs-down"></use></svg>
					</a>
				</span>
			</div>
		</li>
	</ul>
	<div class="col-md-12 no-padding">
		<button class="loadNews ng-scope" ng-disabled="!canLoadMoreEvents" ng-click="fetchNewEvents()">Загрузить еще</button>
	</div>
</div>