<div class="contentGames">
	<div class="contentGamesHeader row mar13_0px">
		<h2 class="gamesName float-l   h27_lh27 pad0_7px">Игры клуба</h2>
		<span class="sezonGames">
			Сезон
			<select name="" id="">
				<option value="">2012 - 2018</option>
				<option value="">2013 - 2018</option>
				<option value="">2014 - 2018</option>
				<option value="">2015 - 2018</option>
			</select>
		</span>
		<span class="filtersGames float-r">
			<a href ng-click="goFilters = !goFilters"> Фильтры </a>
		</span>
	</div>
	<div class="row blockFilters">
		<ul class="row" ng-show="goFilters">
			<li>
				<input type="checkbox" name="" id="" class="ng-pristine ng-valid ng-touched" ng-model="search.is_home"><span>Домашние</span>
			</li>
			<li>
				<input type="checkbox" name="" id="" class="ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="search.is_locally_rated"><span>Локальный рейтинг</span>
			</li>
			<li>
				<input type="checkbox" name="" id="" class="ng-pristine ng-valid ng-touched" ng-model="search.is_globally_rated"><span>Глобальный рейтинг</span>
			</li>
			<li>
				<input type="checkbox" name="" id="" class="ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="search.is_complete"><span>Прошедшие</span>
			</li>
		</ul>
	</div>
	<div class="tableGames row">
		<ul class="nextGame">
			<li class="" ng-repeat="game in games | filter: search | orderBy:predicate:playDateReverse">
				<p class="dataGame">
					<span ng-show="true" class="gameDate">{{ game.play_date | timestampToFormat:'dd.MM.yyyy' }}</span>
				</p>
				<div class="gameInfo">
					<h3 class="gamesTitle"><a href="#/games/{{ game.id }}/gameResults">{{ game.name }}</a></h3>
				</div>
			</li>
		</ul>
	</div>
</div>