<div class="contentGames">
	<div class="contentGamesHeader row mar13_0px">
		<h2 class="gamesName float-l h27_lh27 pad0_7px">Игры клуба</h2>
		<span class="sezonGames">
			Сезон
			<select name="" id="">
				<option value="">2012 - 2018</option>
				<option value="">2013 - 2018</option>
				<option value="">2014 - 2018</option>
				<option value="">2015 - 2018</option>
			</select>
		</span>
		<span class="filtersGames float-r">
			<a href ng-click="goFilters = !goFilters"> Фильтры </a>
		</span>
	</div>
	<div class="row blockFilters">
		<ul class="row" ng-show="goFilters">
			<li>
				<input type="checkbox" name="" id="" class="ng-pristine ng-valid ng-touched" ng-model="search.is_home"><span class="pad0_7px inline-block">Домашние</span>
			</li>
			<li>
				<input type="checkbox" name="" id="" class="ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="search.is_locally_rated"><span class="pad0_7px">Локальный рейтинг</span>
			</li>
			<li>
				<input type="checkbox" name="" id="" class="ng-pristine ng-valid ng-touched" ng-model="search.is_globally_rated"><span class="pad0_7px">Глобальный рейтинг</span>
			</li>
			<li>
				<input type="checkbox" name="" id="" class="ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="search.is_complete"><span class="pad0_7px">Прошедшие</span>
			</li>
		</ul>
	</div>
	<div class="thisGame row">
		<div class="blockDateGame row h27_lh27 fz16px">
			<span class="float-l pad0_7px">{{ game.play_date | timestampToFormat:'dd.MM.yyyy' }}</span>
			<!-- <span class="gameTime float-l pad0_7px">12.25</span> -->
			<span class="float-r pad0_7px">{{ game.play_place }}</span>
		</div>
		<img ng-src="{{ game.image }}" alt="" class="float-l m10px" width="150" height="150">
		<h3 class="gameHeader mar13_0px fz20px">{{ game.name }}</h3>
		<p class="gameDescription">{{ game.description }}</p>

	</div>
	<div class="tableGame row">
<!-- 		<table class="row m20_0px">
			<tr class=" h27_lh27">
				<td class="b1px">name</td>	
				<td class="b1px">date</td>
				<td class="b1px">place</td>	
				<td class="b1px">is_locally_rated</td>	
				<td class="b1px">is_globally_rated</td>	
				<td class="b1px">is_home</td>	
				<td class="b1px">is_complete</td>	
				<td class="b1px">age_category</td>	
				<td class="b1px">season</td>
				<td class="b1px">description</td>		
				<td class="b1px">image</td>		
			</tr>
			<tr class=" h27_lh27">
				<td class="b1px">{{ game.name }}</td>
				<td class="b1px">{{ game.play_date | timestampToFormat:'dd.MM.yyyy' }}</td>
				<td class="b1px">{{ game.play_place }}</td>
				<td class="b1px">{{ game.is_locally_rated | booleanFormater }}</td>	
				<td class="b1px">{{ game.is_globally_rated | booleanFormater }}</td>	
				<td class="b1px">{{ game.is_home | booleanFormater }}</td>	
				<td class="b1px">{{ game.is_complete | booleanFormater }}</td>	
				<td class="b1px">{{ game.age_category.name }}</td>
				<td class="b1px">{{ game.season ? game.season.name : "немає сезона" }}</td>	
				<td class="b1px">{{ game.description }}</td>	
				<td class="b1px"><img ng-src="{{ game.image }}" style="height:50px; width:50px;" /></td>	
			</tr>		
		</table> -->
		<table class="row m20_0px">
			<tr class="resultTableHead h27_lh27">
				<th class="b1px" >Место <a style="cursor: pointer; color: red" ng-click="predicate='-place'; reverse=!reverse">sort</a></th>
				<th class="b1px" >Команда</th>
				<th class="b1px" >Очки <a style="cursor: pointer; color: red" ng-click="predicate='-score'; reverse=!reverse">sort</a> </th>
				
				<th class="b1px" >Возростная категория</th>
				<th class="b1px" >Лайки</th>
			</tr>
			<tr class=" h27_lh27" ng-repeat="gameResult in gameResults | orderBy:predicate:reverse | filter: search">
				<td class="b1px">{{ gameResult.place }}</td>

				<td class="b1px">
					<span ng-show="gameResult.team.name">{{ gameResult.team.name }}</span>
				</td>
				<td class="b1px">{{ gameResult.score }}</td>
				<td class="b1px">{{ game.age_category.name }}</td>
				<td class="b1px align-c likesButton">
					
					<a href="" ng-show="userInfo.isLoggedIn" ng-click="makeResultOpinion(gameResult, true)">
						<svg class="icon icon-thumbs-up"><use xlink:href="#icon-thumbs-up"></use></svg>
					</a>
					{{ gameResult.likesCount }}
					 / 
					{{ gameResult.dislikesCount }}
					<a href="" ng-show="userInfo.isLoggedIn" ng-click="makeResultOpinion(gameResult, false)">
						<svg class="icon icon-thumbs-down"><use xlink:href="#icon-thumbs-down"></use></svg>
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>