<div class="contentGames">
	<div class="contentGamesHeader row mar13_0px">
		<h2 class="gamesName float-l w230px h27_lh27 pad0_7px">Игры клуба</h2>
		<span class="sezonGames">
			Сезон
			<select name="" id="">
				<option value="">2012 - 2018</option>
				<option value="">2013 - 2018</option>
				<option value="">2014 - 2018</option>
				<option value="">2015 - 2018</option>
			</select>
		</span>
		<span class="filtersGames float-r">
			<a href="#"> Фильтры </a>
		</span>
	</div>
	<div class="tableGames row">
		<ul class="nextGame">
			<li class="" ng-repeat="game in games">
				<p class="dataGame">
					<span ng-show="true" class="gameDate">{{ game.play_date | timestampToFormat:'dd.MM.yyyy' }}</span>
					<span ng-hide class="gamePlace">{{ game.play_place }}</span>
				</p>
				<img src="#" alt="" class="gamesLogo float-l">
				<div class="gameInfo">
					<h3 class="gamesTitle"><a href="#/games/{{ game.id }}/gameResults">{{ game.name }}</a></h3>
					<p class="gameDesriptions">
						{{ game.description }}
					</p>
				</div>
			</li>
			<li></li>
		</ul>
		<ul class="isComplitedGames">
			<li></li>
			<li></li>
		</ul>
	</div>
</div>