<html>
<head>
	<style>
		table td {
			border:solid 1px;		
		}
		table {border-collapse: collapse;}
	</style>
</head>
	<body>
		<table>
			<tr>
				<td>name</td>
				<td>teams</td>
				<td></td>			
			</tr>
			<tr ng-repeat="player in players">
				<td>{{ player.last_name }} {{ player.middle_name }} {{ player.first_name }}</td>
				<td>
					<span ng-repeat="pa in player.team_player_associations">
						{{ pa.team.name }}, 				
					</span>
				</td>		
				<td><a href="#/players/{{ player.id }}" >click</a></td>	
			</tr>
		</table>
	</body>
</html>