<div class="contentPlayers">
	<div class="contentPlayersHeader row mar13_0px">
		<h2 class="playersName float-l w230px h27_lh27 pad0_7px">Игроки клуба</h2>
		<input type="text" name="" id="" ng-model="query" class="searchPlayers" placeholder="начните вводить имя / фамилию / название команды">
	</div>
	<table class="row tablePlayers">
		<tr class="tablePlayersHead">
			<th class="tablePlayersName">Фамилия Имя Отчество</th>
			<th class="tablePlayersName">Название команды</th>
		</tr>
		<tr class="tablePlayersList" ng-repeat="player in players | filter: search">
			<td><a href="#/players/{{ player.id }}" >{{ player.last_name }} {{ player.middle_name }} {{ player.first_name }}</a></td>
			<td>
				<span ng-repeat="pa in player.team_player_associations">{{ pa.team.name }}</span>
			</td>
		</tr>
	</table>
</div>