<div class="contentTeams">
	<div class="contentTeamsHeader row mar13_0px">
		<h2 class="teamsName float-l w230px h27_lh27 pad0_7px">Команды клуба</h2>
		<input type="text" name="" id="" ng-model="query" class="searchTeams" placeholder="начните вводить имя / фамилию / название команды">
	</div>
	<table class="row tableTeams">
		<tr class="tableTeamsHead">
			<th class="tableTeamsPlace">Место</th>
			<th class="tableTeamsName">Название</th>
			<th class="tableTeamsRating">Локальный рейтинг <a ng-click="reverse=!reverse" style="cursor: pointer; color: red" class="sort">sort</a></th>
			<th class="tableTeamsCategory">Категория</th>
			<th class="tableTeamsLink"></th>
		</tr>
		<tr ng-repeat="team in teams| filter: search | orderBy:predicate:reverse">
			<td>{{ $index + 1 }}</td>
			<td><a href="#/team/{{ team.id }}" >{{ team.name }}</a></td>
			<td>{{ team.rating }}</td>
			<td>{{ team.age_category.name }}</td>
			<td></td>
		</tr>
	</table>
</div>