<div class="contentTeams">
	<div class="contentTeamsHeader col-md-12 no-padding mar13_0px">
		<h2 class="teamsName h28_lh28 pad0_10px">Команды клуба</h2>
		<input type="text" name="" id="" ng-model="query" class="searchTeams" placeholder="начните вводить имя / фамилию / название команды">
	</div>
	<table class="col-md-12 no-padding tableTeams">
		<tr class="tableTeamsHead h28_lh28">
			<th class="col-md-1 tableTeamsPlace"><a href ng-click="reverse=!reverse" class="sort">№</a></th>
			<th class="col-md-5 tableTeamsName"><a href ng-click="reverse=!reverse" class="sort">Название команды</a></th>
			<th class="col-md-3 tableTeamsRating"><a href ng-click="reverse=!reverse" class="sort">Локальный рейтинг</a></th>
			<th class="col-md-3 tableTeamsCategory"><a href ng-click="reverse=!reverse" class="sort">Категория</a></th>
		</tr>
		<tr class="h28_lh28" ng-repeat="team in teams| filter: search | orderBy:predicate:reverse">
			<td>{{ $index + 1 }}</td>
			<td><a href="#/team/{{ team.id }}" >{{ team.name }}</a></td>
			<td>{{ team.rating }}</td>
			<td>{{ team.age_category.name }}</td>
		</tr>
	</table>
</div>