<div class="thisTeam">
	<div class="contentTeamsHeader row mar13_0px">
			<h2 class="teamsName float-l   h27_lh27 pad0_7px">Команда клуба</h2>
	</div>
	<img ng-src="{{ team.image }}" alt="" class="teamImage float-l">
	<h2 class="h27_lh27">{{team.name}}</h2>
	<dl class="teamDescription">

		<dt>Место</dt>
		<dd>1</dd>

		<dt>Локальный рейтинг</dt>
		<dd>{{ team.rating }}</dd>

		<dt>Рейтинг МАК</dt>
		<dd>65</dd>

		<dt>Возросная категория</dt>
		<dd>{{ team.age_category.name }}</dd>

	</dl>
	<p class="desc">{{ team.description }}</p>

<div class="contentTeamsHeader row mar13_0px">
	<h2 class="teamsName float-l   h27_lh27 pad0_7px">Состав в сезоне</h2>
</div>
	<ul class="playersTeamList">
		<li class="pos-r" ng-repeat="player in players">
			<img ng-src="{{ player.image }}" alt="" ng-show="team.image">
			<p class="playersDesc pos-a">
				{{ player.last_name }}
				<span>
					{{ player.team_player_associations[0].roles | teamRolesToString:", " }}
				</span>
			</p>
		</li>
	</ul>
</div>