<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="clientApp/style/style.css">
	<script type="text/javascript" src="clientApp/js/deps/angular/angular.min.js"></script>
	<script type="text/javascript" src="clientApp/js/deps/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="clientApp/js/deps/angular-resource/angular-resource.min.js"></script>
	<script type="text/javascript" src="clientApp/js/app.js"></script>
	<script type="text/javascript" src="clientApp/js/routing.js"></script>
	<script type="text/javascript" src="clientApp/js/components/team.js"></script>
	<script type="text/javascript" src="clientApp/js/components/event.js"></script>
	<script type="text/javascript" src="clientApp/js/utilModule.js"></script>
	<script type="text/javascript" src="clientApp/js/components/opinion.js"></script>
	<script type="text/javascript" src="clientApp/js/components/comment.js"></script>
	<script type="text/javascript" src="clientApp/js/components/game.js"></script>
	<script type="text/javascript" src="clientApp/js/components/gameResult.js"></script>
	<script type="text/javascript" src="clientApp/js/components/player.js"></script>
	<script type="text/javascript" src="clientApp/js/components/user.js"></script>
	<script type="text/javascript" src="clientApp/js/components/gallery.js"></script>
	<script type="text/javascript" src="clientApp/js/components/media.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="content pad0_30px">
			<header class="header">
				<h1 class="logo float-l">
					<a class="home" href="#/home" ng-click="active='home'"><img src="clientApp/images/logo.png" alt="img"></a>
				</h1>
				<nav class="nav h27_lh27 {{active}}">
					<a class="games" href="#/games" ng-click="active='games'">Игры</a>
					<a class="news" href="#/news" ng-click="active='news'">Новости</a>
					<a class="teams" href="#/teams" ng-click="active='teams'">Команди</a>
					<a class="players" href="#/players" ng-click="active='players'">Игроки</a>
					<a class="galleries" href="#/galleries" ng-click="active='galleries'">Галереи</a>
					<a class="about" href="#/about" ng-click="active='about'">О клубе</a>
				</nav>
			</header>
			<div ng-view></div>
		</div>
		<aside class="aside">
			<div class="userBlock" ng-controller="UserPanelController">
				<div class="userTeam userLogin bb2px">
					<img src="clientApp/images/userLogoDefault.png" alt="" class="userLogo">
					<p class="userFirstName" ng-show="userInfo.isLoggedIn">{{ userInfo.username }}</p>
					<a ng-hide="userInfo.isLoggedIn" href="/register">Регистация</a>
					<!-- <a ng-hide="userInfo.isLoggedIn" href="/login">Войти</a> -->
					<a ng-hide="userInfo.isLoggedIn" id="go" href="#">Войти</a>
					<a ng-show="userInfo.isLoggedIn" href="/profile/edit">Редактировать</a>
					<a ng-show="userInfo.isLoggedIn" href="/logout">Выход</a>
				</div>
			</div>
			<div class="blockTopTeams bb2px">
				<h3 class="align-c h27_lh27">Топ команд</h3>
				<ul ng-controller="TeamsController">
					<li ng-repeat="team in teams"><a href="#/team/{{ team.id }}" >{{ team.name }}</a></li>
				</ul>
			</div>
			<div class="blockTopNews">
				<h3 class="align-c h27_lh27">Топ новостей</h3>
				<ul ng-controller="EventsController">
					<li ng-repeat=" event in events | limitTo:5">
						<a href="#/news/{{ event.id }}">{{event.title}}</a>
						<div class="eventInfo mt10px">
							<span class="eventLike">12</span>
							<span class="eventDislike">34</span>
							<span class="eventComment">5</span>
						</div>
					</li>
				</ul>
			</div>
		</aside>
	</div>
	<footer class="footer row">
		<div class="footerInner">
			<ul class="social">
				<li class="float-l">B</li>
				<li class="float-l">f</li>
				<li class="float-l">in</li>
				<li class="float-l">t</li>
			</ul>
			<div class="copy">&copy;GeekHub team</div>
		</div>
	</footer>
</body>
</html>
